@inherits LayoutComponentBase

<div class="app">
  <header>
    <h1>OnxAdmin</h1>
  </header>
  <main> @Body </main>
  <footer>
    <p>OnxAdmin can make mistakes. Check important info</p>
  </footer>
</div>
