/* css resets */

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  display: block;
}

table {
  width: 100%;
  border-collapse: collapse;
}

/* site styles */
/* basic light and dark mode */
:root {
  --white: #f9f9f9;
  --black: #212121;
  --secondary-black: #171717;
  --secondary-white: #f5f5f5;

  --background-color: var(--white);
  --secondary-background-color: var(--secondary-white);
  --text-color: var(--black);
}



@media (prefers-color-scheme: dark) {
  :root {
    --background-color: var(--black);
    --secondary-background-color: var(--secondary-black);
    --text-color: var(--white);
  }
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}